@font-face {
  font-family: race;
  src: url("../assets/fonts/ttalientzvar.ttf");
}
@font-face {
  font-family: race2;
  src: url("../assets/fonts/sohnebreit-fett.ttf");
}
@font-face {
  font-family: race3;
  src: url("../assets/fonts/soehne-buch.ttf");
}
.container {
  z-index: 2;
  font-family: race;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none;
}
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardBox {
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(25px);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card div {
  width: 100%;
  height: 100vh;
}
.ImageBox {
  width: 200px;
  height: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.ImageBox div {
  width: max-content;
  margin: auto;
}
.img {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: perspective(25px);
  transition: transform 0.3s cubic-bezier(0.07, 0.5, 0.16, 1);
}

.ImageBox img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}
.textBox {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 15vw;
  text-align: center;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  line-height: 0;
}
.textBox > div {
  width: 100%;
  overflow: hidden;
  position: relative;
  top: -15%;
}

.textBox div:nth-child(1) span {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textBox div:nth-child(2) {
  transform: translateY(-50%) !important;
}
.textBox div:nth-child(3) {
  transform: translateY(-60%) !important;
}
.textBox div:nth-child(2) span {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textBox div:nth-child(3) span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blade {
  position: absolute;
  left: 22%;
  top: 45%;
}
.logo {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 4%;
  left: 67%;
}
.blade img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  animation: animate 2s linear infinite;
}
.logo img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  animation: animate 3s linear infinite;
}
@keyframes animate {
  100% {
    transform: rotateY(360deg);
  }
  0% {
    transform: rotateY(0deg);
  }
}
.collection {
  position: absolute;
  top: 70%;
  left: 70%;
  z-index: 100;
}
.collection div {
  width: max-content;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.collection button {
  background: transparent;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 20;
}
.collection button span:first-child {
  margin-right: 10px;
  font-size: 14px;
  font-family: race2;
}
.collection button span svg {
  fill: rgba(255, 255, 255, 0.5);
  animation: btn 0.3s linear infinite;
}
.collection button span:nth-child(2) svg {
  animation-delay: 1s;
}
.collection button span:nth-child(3) svg {
  animation-delay: 2s;
}
.collection button span:nth-child(4) svg {
  animation-delay: 3s;
}
.collection button:hover {
  background: white;
}
@keyframes btn {
  0% {
    fill: rgba(255, 255, 255, 0.5);
  }
  100% {
    fill: white;
  }
}
